
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');



.pretendard-thin {
  font-family: "pretendard", sans-serif;
  font-weight: 100;
  font-style: normal;
}  


.pretendard-extralight {
  font-family: "pretendard", sans-serif;
  font-weight:200;
  font-style: normal;
}  


.pretendard-light {
  font-family: "pretendard", sans-serif;
  font-weight:300;
  font-style: normal;
}  


.pretendard-regular {
  font-family: "pretendard", sans-serif;
  font-weight:400;
  font-style: normal;
}  


.pretendard-medium {
  font-family: "pretendard", sans-serif;
  font-weight:500;
  font-style: normal;
}

.pretendard-semibold {
  font-family: "pretendard", sans-serif;
  font-weight:600;
  font-style: normal;
}  

.pretendard-bold  {
  font-family: "pretendard", sans-serif;
  font-weight:700;
  font-style: normal;
}  


.pretendard-extrabold  {
  font-family: "pretendard", sans-serif;
  font-weight:800;
  font-style: normal;
}  



.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.libre-baskerville-thin {
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  font-style: normal;
}



.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-light-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 200;
  font-style: italic;
}

.libre-baskerville-thin-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  font-style: italic;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}


/*폰트*/


.before_bx::before {

    content: '';
    display: block;
    padding-bottom: 82.352%;
}

.before_imgbx::before{
  content: '';
  display: block;
  width: 100%;
  padding-bottom: calc(260 / 295* 100%);
}

.custom-stroke {
  -webkit-text-stroke: 1px white;
}


._imgbx::before {
  content:'';
  display:block;
  width:100%;
  padding-bottom: calc(350 / 308 * 100%);
}

.imgbox::before {
  content: "";
  display: block;
  padding-bottom: 94.736%;
}


.fadein{
 
  animation: fadein 1s ease-in-out;



}




@keyframes fadein{
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }

}


.fadeleft {
  animation: fadeleft 1s ease-in-out;
}


@keyframes fadeleft{
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: none;
  }

}


.opacity_1 {
  animation:  opacity_1 1s ease-in;
}


@keyframes opacity_1{
  0% {
    opacity: 0.2;
    
  }
  100% {
    opacity: 1;
    
  }

}

.opacity_2 {
  animation:  opacity_2 1.5s ease-in;
}


@keyframes opacity_2{
  0% {
    opacity: 0.2;
    
  }
  100% {
    opacity: 1;
    
  }

}


.opacity_3 {
  animation:  opacity_3 2s ease-in;
}


@keyframes opacity_3{
  0% {
    opacity: 0.2;
    
  }
  100% {
    opacity: 1;
    
  }

}



.opacity_4 {
  animation:  opacity_4 2.5s ease-in;
}


@keyframes opacity_4{
  0% {
    opacity: 0.2;
    
  }
  100% {
    opacity: 1;
    
  }

}


.opacity_5 {
  animation:  opacity_5 3s ease-in;
}


@keyframes opacity_5{
  0% {
    opacity: 0.2;
    
  }
  100% {
    opacity: 1;
    
  }

}


.opacity_6 {
  animation:  opacity_6 3.5s ease-in;
}


@keyframes opacity_6{
  0% {
    opacity: 0.2;
    
  }
  100% {
    opacity: 1;
    
  }

}

.animate-s1Arrow {
  animation : s1Arrow 1.5s linear infinite forwards
}


@keyframes s1Arrow{
  0% {
   transform: translateY(0px);
   opacity: 0.7
    
  }
  50% {
    transform: translateY(5px);
    opacity: 0.5
    
  }
  100% {
    transform: translateY(0px);
    opacity: 1
  }

}

/* CSS for sticky section */
.sticky-section {
  position: -webkit-sticky; /* Safari 대응 */
  position: sticky;
  top: 0;
  z-index: 10; /* 필요한 경우 z-index 설정 */
}

/* 스크롤 시 fade-out, fade-in 적용 */
.fade-out {
  opacity: 0;
  transition: opacity 0.3s;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s;
}